[submodule "depends/open62541.git"]
	path = depends/open62541.git
	url = https://github.com/open62541/open62541.git
[submodule "depends/mbedtls.git"]
	path = depends/mbedtls.git
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "depends/QFunctionUtils.git"]
	path = depends/QFunctionUtils.git
	url = https://github.com/juangburgos/QFunctionUtils.git
	branch = master
